@model List<DBExample.Models.MessageModel>
@{
    ViewBag.Title = "Messages";
}

@Html.ActionLink("Reply", "AddMessageForm", new { ChatID = ViewBag.ChatID }, null )

<h2>Messages</h2>
<table>
@foreach (var item in Model)
{
     <tr>
         <td>
             @item.Author
         </td>
         <td>
             @item.Timestamp
         </td>
         
         <td>
             @if (item.Author == User.Identity.Name)
             {
                 @Html.ActionLink("Edit", "EditMessageForm", new { MessageID = item.MessageID })
             }
         </td>

     </tr>
     <tr>
         <td colspan="3">
             <div style="color:red">@item.Message</div>
         </td>
     </tr>
}
</table>
