@model IEnumerable<DBExample.ChatRoom>
@{
    ViewBag.Title = "Search Chat Rooms";
}
<script src="@Url.Content("~/Scripts/jquery.tablesorter.js")" type="text/javascript"></script>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#chatrooms").tablesorter();
        }
        );
    </script>
}

<h2>Search Chat Rooms Results</h2>

@using (Html.BeginForm("SearchChatRooms", "ChatRoom"))
{

    List<SelectListItem> dropdown = new List<SelectListItem>();
    dropdown.Add(new SelectListItem { Text = "Title", Value = "Title"});
    dropdown.Add(new SelectListItem { Text = "Owner", Value = "Owner"});
    dropdown.Add(new SelectListItem { Text = "Content", Value = "Content"});
    @Html.DropDownList("SearchType", dropdown);
    <text>Search: </text> @Html.TextBox("SearchTerm");
    <input type="submit" value="Search"/>
}

<table class="tablesorter" id="chatrooms">
<thead>
    <th>
        Owner &#8645;
    </th>
    <th>
        Chat Room Name &#8645;
    </th>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Owner
        </td>
        <td>
            @Html.ActionLink(item.ChatRoomName, "Messages", "ChatRoom", new { ChatID = item.ChatID }, null)
        </td>
    </tr>
}
</tbody>
</table>

